*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    margin:0px auto;
    width: 1166px;

}
a{
    text-decoration: none;
    display: inline-block;
    color: black;
    
}
h1 h2 h3 h4 h5 h6 p{

}
ul li{
    list-style-type: none;
}
.nav_items ul {
    display: flex;
    column-gap: 100px;
}
.nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav{
    position: absolute;
    width: 100%;
}
#nav .nav_wrapper .nav_items ul li a{
    color: #000000;
    font-family: "Poppins", sans-serif;

}
#banner h1{
    font-size: 56px;
    font-weight: 600;
    width: 777px;
    font-family: "Poppins", sans-serif;
    padding-top: 257px;

}
#banner p{
    font-size: 16px;
    font-weight: 200;
    width: 544px;
    font-family: "Poppins", sans-serif;
    padding-top: 24px;
}
#banner .left .src input{
    padding: 23px 101px 23px 56px;
    width: 508px;
    border-radius: 15px;
    

}
#banner .left .src{
    padding-top: 55px;
}
#banner .left .src input ::placeholder{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 351px;


}
#banner .left .src .btn a{
    font-size: 16px;
    font-weight: 300;
    padding: 21px 41px 21px 41px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 15px;
    display: inline-block;
    font-family: "Poppins", sans-serif;


}
#banner .left .src{
    display: flex;
    align-items: center;
    column-gap: 15px;
    
    
}
#banner .left{
    padding-bottom: 200px;
}
#banner .wrap .right img{
    position: absolute;
    top: 141px;
    right:0px;
}
#banner .container{
    position: relative;
}
#banner{
    background-color: #EEEDDE;

}
#properti .pro_txt h2{
    font-size: 36px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    width: 533px;
    padding-top: 100px;
    padding-bottom: 64px;

}
#properti .bar .one{
    height: 300px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    border: #c2bfbf 2px solid;
    position: relative;
}
#properti .bar .one::after{
   position: absolute;
   content: "";
   width: 8px;
   height: 25px;
  background-color:#c57547;
  top: 20px;
  left: 0px;
  border-radius: 10px;


}
#properti .bar .title h5{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

}
#properti .bar .title p{
    color: #c57547;
    font-weight: 600;
}
#properti .bar .title{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 33px;
}
#properti .bar .one h6{
    font-size: 16px;
    font-weight:200;
    font-family: "Poppins", sans-serif;
   padding: 8px 33px 0px 32px;
   line-height: 30px;
   
   

}
#properti .bar .one h4{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
   padding: 50px 100px 24px 39px;
   padding-left: 39px;
   padding-bottom: 24px;
   padding-right: 100px;

}

.bar_wrapper{
    display: flex;
    justify-content: space-between;
}

#favorit .head_wrapper h6{
    font-size: 16px;
    font-weight:500 ;
    font-family: "Poppins", sans-serif;
    color: #FF7527;
    padding-top: 68px;
}
#favorit .head_wrapper h3{
    font-size: 36px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-top: 8px;
}
#favorit .head_wrapper img{
    height: 455px;
    width: 330px;
    padding-top: 65px;
   
}
#favorit .left_part h4{
    font-size: 36px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
   width: 507px;
}
#favorit .left_part p{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    width: 570px;
    line-height: 30px;
}
#favorit .l_btn .on a{
    color: rgb(0, 0, 0);
    padding: 13px 41px 13px 77px;
    border-radius: 10px;
    border: #203239 2px solid;
    
    

}
#favorit .l_btn .to a{
    color: rgb(255, 255, 255);
    background:#203239;
    padding: 13px 41px 13px 41px;
    border-radius: 10px;

}
#favorit {
    background-color: #EEEDDE;
    margin-top: 100px;
  

}
#favorit .l_btn {
    display: flex;
    column-gap: 48px;
    padding-top: 48px;
}

#favorit .all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 245px;
}
#favorit .ovi img{
    position: absolute;
   height: 490px;
   width: 358px;
    top: 200px;
    left: 200px;
}
#favorit .container{
    position: relative;
}




#kota .tt h6{
    font-size: 16px;
    font-weight: 500;
    color: #FF7527;
    font-family: "Poppins", sans-serif;
    padding-top: 68px;

}
#kota .tt h3{
   font-size:36px ;
   font-weight:600 ;
   font-family: "Poppins", sans-serif;
   padding-top: 8px;
}
#kota .picture {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    
}
#kota .main .four{
    width: 374px;
    height: 136px;
   


}
#kota .main .five{
    width: 374px;
    height: 136px;
   


}
#kota .main .six{
    width: 374px;
    height: 136px;
 

}
.main{
    display: flex;
    justify-content: space-between;
}
#kota .main h2{
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 15px;
   



}
#kota .main p{
    font-size: 16px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
    

}
#footer{
   
    background-color: #EEEDDE;
}
.foot_top h2{
    font-size: 36px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-top: 48px;

}
#footer .fot_wrap .one{
    width: 274px;
    height: 167px;
    background-color: #ffffff;
    padding: 25px 41px 86px 98px;
    border-radius: 15px;

}

#footer .fot_wrap .one p{
   
}

#footer .fot_wrap .two{
    width: 274px;
    height: 167px;
    background-color: #ffffff;
    padding: 25px 41px 86px 98px;
    border-radius: 15px;

}
#footer .fot_wrap .one .fot_btn a{
    color: rgb(255, 255, 255);
    padding: 10px 18px 10px 18px;
    background-color: #203239;
    
}
#footer .fot_wrap .one .fot_btn{
    padding-top: 52px;
   padding-right: 0px;
}
#footer .fot_wrap .two .fot_btn a{
    color: rgb(255, 255, 255);
    padding: 10px 18px 10px 18px;
    background-color: #203239;
    

}
#footer .fot_wrap .two .fot_btn{
    padding-top: 52px;
    padding-right: 0px;

}
#footer .fot_wrap{
    display: flex;
    column-gap: 24px;
    padding-top: 74px;
}
#footer .container{
    position: relative;
}
#footer .of{
    font-size: 36px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 88px;
    right: 30px;
}
#footer .fot_logo img{
    position: absolute;
    top: 221px;
    right: 105px;
}